@import "../../../styles/variables";

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  > button {
    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.4s ease;

    border-radius: 30px;
    border: 2px solid rgba($gray, 0.2);
    color: $white;

    font-size: 15px;
    min-width: 90px;
    padding: 0.7rem 1.6rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;

    &:last-child {
      margin-right: 0;
    }

    &.active {
      border-color: rgba($accent, 0.5);
    }
  }
}
